<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Consultancy Plus - Bootstrap Template</title>

  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Google Web Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

  <!-- Template CSS Files  -->
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/js/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
  <link href="/js/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
  <link href="/js/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/responsive.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/fav-144.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/fav-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/fav-72.png">
  <link rel="apple-touch-icon-precomposed" href="/images/fav-57.png">
  <link rel="shortcut icon" href="/images/fav.png">

</head>

<body>
  <!-- Top Bar Starts -->
  <div id="top-bar" class="top-bar">
    <!-- Nested Container Starts -->
    <div class="container text-center-xs">
      <!-- Nested Row Starts -->
      <div class="row">
        <!-- Left Starts -->
        <div class="col-sm-6 col-xs-12 text-grey-color">
          <strong class="text-spl-color">Creative</strong>Plus One Page Business Template's Pack.
        </div>
        <!-- Left Ends -->
        <!-- Right Starts -->
        <div class="col-sm-6 col-xs-12">
          <ul class="list-unstyled list-inline top-sm-links text-right-lg text-right-md text-right-sm animation">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
        </div>
        <!-- Right Ends -->
      </div>
      <!-- Nested Row Ends -->
    </div>
    <!-- Nested Container Ends -->
  </div>
  <!-- Top Bar Ends	-->
  <!-- Header Wrap Starts -->
  <header id="main-header-wrap" class="main-header-wrap">
    <!-- Header Starts -->
    <div class="container main-header">
      <!-- Nested Row Starts -->
      <div class="row">
        <!-- Logo Starts -->
        <div class="col-md-3 col-xs-12">
          <img src="/images/logo.png" alt="Creative Plus" class="logo img-responsive img-center-sm img-center-xs">
        </div>
        <!-- Logo Ends -->
        <!-- Address Starts -->
        <div class="col-md-4 col-xs-12 hidden-sm hidden-xs col-md-offset-2">
          <i class="fa fa-home pull-left text-spl-color"></i>
          <h6 class="text-medium text-spl-color">#13 BB Nagar, Hitech City, Madapur</h6>
          <span class="text-light text-grey-color">Hyderabad - 021, Telangana, INDIA</span>
        </div>
        <!-- Address Ends -->
        <!-- Toll Free Starts -->
        <div class="col-md-3 col-xs-12 hidden-sm hidden-xs">
          <i class="fa fa-phone pull-left text-spl-color"></i>
          <h6 class="text-medium text-spl-color">001-236-456-7890</h6>
          <a href="mailto:service@chaoxun-international.com" class="text-light">service@chaoxun-international.com</a>
        </div>
        <!-- Toll Free Ends -->
      </div>
      <!-- Nested Row Ends -->
    </div>
    <!-- Header Ends -->
    <!-- Menu Wrap Starts -->
    <div id="main-menu-wrap">
      <!-- Menu Starts -->
      <div id="main-menu">
        <!-- Nested Container Starts -->
        <div class="container">
          <!-- Navbar Starts -->
          <nav id="nav" class="navbar navbar-default">
            <!-- Nested Container Fluid Starts -->
            <div class="container-fluid">
              <!-- Navbar Header Starts -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
              </div>
              <!-- Navbar Header Ends -->
              <!-- Navbar Collapse Starts -->
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="current"><a href="#top-bar">Home</a></li>
                  <li><a href="#about">About Us</a></li>
                  <li><a href="#services">Our Services</a></li>
                  <li><a href="#clients">Clients</a></li>
                  <li><a href="#blog">Blog</a></li>
                  <li><a href="#work">Our Work</a></li>
                  <li><a href="#portfolio">Portfolio</a></li>
                  <li><a href="#why-us">Why Us</a></li>
                  <li><a href="#team">Our Team</a></li>
                  <li><a href="#testimonials">Testimonials</a></li>
                  <li><a href="#contact">Contact Us</a></li>
                </ul>
              </div>
              <!-- Navbar Collapse Ends -->
            </div>
            <!-- Nested Container Fluid Ends -->
          </nav>
          <!-- Navbar Ends -->
        </div>
        <!-- Nested Container Ends -->
      </div>
      <!-- Menu Ends -->
    </div>
    <!-- Menu Wrap Ends -->
    <!-- Slider Starts -->
    <div id="main-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <!-- Wrapper For Slides Starts -->
      <div class="carousel-inner">
        <!-- Slide #1 Starts -->
        <div class="item active">
          <img src="/images/slider/slider-img1.jpg" alt="Slide 1" class="img-responsive">
          <div class="carousel-caption hidden-sm hidden-xs">
            <h1 class="text-light">We CreativePlus <br>Business Consultancy</h1>
            <p class="text-light">CreativePlus is a Complete One Page Template Concept for all Business Categories.</p>
            <p class="text-light">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
              literature.</p>
            <ul class="list-unstyled list-inline">
              <li><a href="#" class="btn btn-secondary inverse animation flat"><i class="fa fa-info"></i> Read More</a></li>
              <li><a href="#" class="btn btn-outline animation flat"><i class="fa fa-heart"></i> Live Demo</a></li>
            </ul>
          </div>
        </div>
        <!-- Slide #1 Ends -->
        <!-- Slide #2 Starts -->
        <div class="item">
          <img src="/images/slider/slider-img2.jpg" alt="Slide 2" class="img-responsive">
          <div class="carousel-caption hidden-sm hidden-xs">
            <h1 class="text-light">We BusinessPlus <br>Business Consultancy</h1>
            <p class="text-light">CreativePlus is a Complete One Page Template Concept for all Business Categories.</p>
            <p class="text-light">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
              literature.</p>
            <ul class="list-unstyled list-inline">
              <li><a href="#" class="btn btn-secondary inverse animation flat"><i class="fa fa-info"></i> Read More</a></li>
              <li><a href="#" class="btn btn-outline animation flat"><i class="fa fa-heart"></i> Live Demo</a></li>
            </ul>
          </div>
        </div>
        <!-- Slide #2 Ends -->
      </div>
      <!-- Wrapper For Slides Ends -->
      <!-- Control Starts -->
      <a class="left carousel-control animation" href="#main-slider" role="button" data-slide="prev">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control animation" href="#main-slider" role="button" data-slide="next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!-- Control Ends -->
    </div>
    <!-- Slider Ends -->
  </header>
  <!-- Header Wrap Ends -->
  <!-- About Section Starts -->
  <section id="about" class="section about-section">
    <!-- Nested Container Starts -->
    <div class="container text-center-xs">
      <!-- Heading Starts -->
      <h3 class="text-normal">About Our Global Consultancy Service</h3>
      <p class="text-grey-color text-light"><em>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the  when an unknown printer took a galley of type and scrambled it to make a type specimen book.</em></p>
      <hr class="hr-1 text-center-xs">
      <!-- Heading Ends -->
      <!-- Spacer Starts -->
      <div class="spacer-small"></div>
      <!-- Spacer Ends -->
      <!-- Nested Row Starts -->
      <div class="row">
        <!-- Image Starts -->
        <div class="col-sm-6 col-xs-12">
          <img src="/images/image1.jpg" alt="Image" class="img-responsive img-center br-5">
        </div>
        <!-- Image Ends -->
        <!-- Spacer For Small Screens Starts -->
        <div class="col-xs-12 hidden visible-xs">
          <div class="spacer-small"></div>
        </div>
        <!-- Spacer For Small Screens Ends -->
        <!-- Content Starts -->
        <div class="col-sm-6 col-xs-12">
          <p class="text-bold">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
            'Content here, content here.
          </p>
          <p>
            Making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
            default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Richard
            McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin
            words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
            discovered the undoubtable source.
          </p>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
            from 45 BC, making it over 2000 years old. There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form, by injected humour, or randomised words which don't look
            even slightly believable.
          </p>
        </div>
        <!-- Content Ends -->
        <!-- Sub Heading Starts -->
        <div class="col-xs-12">
          <div class="spacer-small"></div>
          <h4 class="text-spl-color text-medium">Know More About Our Company</h4>
        </div>
        <!-- Sub Heading Ends -->
        <!-- List #1 Starts -->
        <div class="col-sm-6 col-xs-12">
          <ul class="list-unstyled list-style-1 text-bold">
            <li>It is a long established fact that a reader will be distracted</li>
            <li>Readable content of a page when looking at its layout.</li>
            <li>The point of using Lorem Ipsum is that it has a more-or-less normal</li>
            <li>As opposed to using Content here, content here.</li>
          </ul>
        </div>
        <!-- List #1 Ends -->
        <!-- List #2 Starts -->
        <div class="col-sm-6 col-xs-12">
          <ul class="list-unstyled list-style-1 text-bold">
            <li>It is a long established fact that a reader will be distracted</li>
            <li>Readable content of a page when looking at its layout.</li>
            <li>The point of using Lorem Ipsum is that it has a more-or-less normal</li>
            <li>As opposed to using Content here, content here.</li>
          </ul>
        </div>
        <!-- List #2 Ends -->
      </div>
      <!-- Nested Row Ends -->
    </div>
    <!-- Nested Container Ends -->
  </section>
  <!-- About Section Ends -->
  <!-- Services Section Starts -->
  <section id="services" class="section services-section">
    <!-- Nested Container Starts -->
    <div class="container text-center">
      <!-- Heading Starts -->
      <h3 class="main-heading-1 text-normal text-center">Our Unlimited Services</h3>
      <p class="text-grey-color text-light"><em>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the <br>when an unknown printer took a galley of type and scrambled it to make a type specimen book.</em></p>
      <!-- Heading Ends -->
      <!-- Services List Starts -->
      <ul class="list-unstyled row services-list">
        <!-- List #1 Starts -->
        <li class="col-md-4 col-sm-6 col-xs-12">
          <i class="fa fa-anchor text-spl-color"></i>
          <h5 class="main-heading-1 text-center text-bold">Powerful Template</h5>
          <p>Making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
            as their model text.</p>
          <p><a href="#" class="more-link animation">Read More</a></p>
        </li>
        <!-- List #1 Ends -->
        <!-- List #2 Starts -->
        <li class="col-md-4 col-sm-6 col-xs-12">
          <i class="fa fa-camera text-spl-color"></i>
          <h5 class="main-heading-1 text-center text-bold">Fast Processing</h5>
          <p>Making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
            as their model text.</p>
          <p><a href="#" class="more-link animation">Read More</a></p>
        </li>
        <!-- List #2 Ends -->
        <!-- List #3 Starts -->
        <li class="col-md-4 col-sm-6 col-xs-12">
          <i class="fa fa-pie-chart text-spl-color"></i>
          <h5 class="main-heading-1 text-center text-bold">Clean Modern Code</h5>
          <p>Making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
            as their model text.</p>
          <p><a href="#" class="more-link animation">Read More</a></p>
        </li>
        <!-- List #3 Ends -->
        <!-- List #4 Starts -->
        <li class="col-md-4 col-sm-6 col-xs-12">
          <i class="fa fa-paper-plane text-spl-color"></i>
          <h5 class="main-heading-1 text-center text-bold">Flexible Layouts</h5>
          <p>Making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
            as their model text.</p>
          <p><a href="#" class="more-link animation">Read More</a></p>
        </li>
        <!-- List #4 Ends -->
        <!-- List #5 Starts -->
        <li class="col-md-4 col-sm-6 col-xs-12">
          <i class="fa fa-leaf text-spl-color"></i>
          <h5 class="main-heading-1 text-center text-bold">Free Updates &amp; Support</h5>
          <p>Making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
            as their model text.</p>
          <p><a href="#" class="more-link animation">Read More</a></p>
        </li>
        <!-- List #5 Ends -->
        <!-- List #6 Starts -->
        <li class="col-md-4 col-sm-6 col-xs-12">
          <i class="fa fa-laptop text-spl-color"></i>
          <h5 class="main-heading-1 text-center text-bold">Fully Responsive</h5>
          <p>Making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
            as their model text.</p>
          <p><a href="#" class="more-link animation">Read More</a></p>
        </li>
        <!-- List #6 Ends -->
      </ul>
      <!-- Services List Ends -->
    </div>
    <!-- Nested Container Ends -->
  </section>
  <!-- Services Section Ends -->
  <!-- Clients Section Starts -->
  <section id="clients" class="section clients-section">
    <!-- Nested Container Starts -->
    <div class="container-fluid text-center">
      <!-- Nested Row Starts -->
      <ul class="list-unstyled row row-fluid clients-list">
        <!-- #1 Starts -->
        <li class="col-sm-3 col-xs-12">
          <div class="inner">
            <h3><i class="fa fa-user circle"></i></h3>
            <h2 class="text-bold badges-counter">5982</h2>
            <h5 class="text-normal"><em>People have been placed round the globe.</em></h5>
          </div>
        </li>
        <!-- #1 Ends -->
        <!-- #2 Starts -->
        <li class="col-sm-3 col-xs-12">
          <div class="inner">
            <h3><i class="fa fa-university circle"></i></h3>
            <h2 class="text-bold badges-counter">477</h2>
            <h5 class="text-normal"><em>Corporate Companines are our Offical Partners</em></h5>
          </div>
        </li>
        <!-- #2 Ends -->
        <!-- #3 Starts -->
        <li class="col-sm-3 col-xs-12">
          <div class="inner">
            <h3><i class="fa fa-tachometer circle"></i></h3>
            <h2 class="text-bold badges-counter">5845</h2>
            <h5 class="text-normal"><em>Till date we recieved number of profiles</em></h5>
          </div>
        </li>
        <!-- #3 Ends -->
        <!-- #4 Starts -->
        <li class="col-sm-3 col-xs-12">
          <div class="inner">
            <h3><i class="fa fa-clock-o circle"></i></h3>
            <h2 class="text-bold badges-counter">985</h2>
            <h5 class="text-normal"><em>Number of Hours People working weekly</em></h5>
          </div>
        </li>
        <!-- #4 Ends -->
      </ul>
      <!-- Nested Row Ends -->
    </div>
    <!-- Nested Container Ends -->
  </section>
  <!-- Clients Section Ends -->
  <!-- Blog Section Starts -->
  <section id="blog" class="section blog-section">
    <!-- Nested Container Starts -->
    <div class="container text-center-xs">
      <!-- Heading Starts -->
      <h3 class="text-normal text-center-xs">Our Blog</h3>
      <p class="text-grey-color text-light">
        <em>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the  when an unknown printer took a galley of type and scrambled it to make a type specimen book. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</em>
      </p>
      <hr class="hr-1 text-center-xs">
      <!-- Heading Ends -->
      <!-- Blog Post Carousel Starts -->
      <div id="blog-post-carousel" class="owl-carousel">
        <!-- Blog Post #1 Starts -->
        <div class="blog-post-box">
          <!-- Media Starts -->
          <div class="blog-post-media">
            <img src="/images/blog/blog-thumb-img1.jpg" alt="Blog Image" class="img-responsive img-center br-5">
          </div>
          <!-- Media Ends -->
          <!-- Blog Title Starts -->
          <h4 class="blog-post-title"><a href="#">CreativePlus Blog Post List</a></h4>
          <!-- Blog Title Ends -->
          <!-- Posted By Starts -->
          <ul class="list-unstyled list-inline blog-post-meta">
            <li class="date">
              <i class="fa fa-calendar"></i> 25 DEC
            </li>
            <li>
              <i class="fa fa-edit"></i> Post By <a href="#">Administrator</a>
            </li>
            <li class="comments">
              <i class="fa fa-comments-o"></i>
              <a href="#">5</a>
            </li>
          </ul>
          <!-- Posted By Ends -->
          <!-- Blog Post Content Teaser Starts -->
          <p class="text-justify">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
            injected humour, or randomised words which don't look even slightly believable.
          </p>
          <p class="text-right-lg text-right-md text-right-sm"><a href="#" class="more-link animation">Read More</a></p>
          <!-- Blog Post Content Teaser Ends -->
        </div>
        <!-- Blog Post #1 Ends -->
        <!-- Blog Post #2 Starts -->
        <div class="blog-post-box">
          <!-- Media Starts -->
          <div class="blog-post-media">
            <img src="/images/blog/blog-thumb-img2.jpg" alt="Blog Image" class="img-responsive img-center br-5">
          </div>
          <!-- Media Ends -->
          <!-- Blog Title Starts -->
          <h4 class="blog-post-title"><a href="#">CreativePlus Blog Post List</a></h4>
          <!-- Blog Title Ends -->
          <!-- Posted By Starts -->
          <ul class="list-unstyled list-inline blog-post-meta">
            <li class="date">
              <i class="fa fa-calendar"></i> 5 DEC
            </li>
            <li>
              <i class="fa fa-edit"></i> Post By <a href="#">Administrator</a>
            </li>
            <li class="comments">
              <i class="fa fa-comments-o"></i>
              <a href="#">20</a>
            </li>
          </ul>
          <!-- Posted By Ends -->
          <!-- Blog Post Content Teaser Starts -->
          <p class="text-justify">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
            injected humour, or randomised words which don't look even slightly believable.
          </p>
          <p class="text-right-lg text-right-md text-right-sm"><a href="#" class="more-link animation">Read More</a></p>
          <!-- Blog Post Content Teaser Ends -->
        </div>
        <!-- Blog Post #2 Ends -->
        <!-- Blog Post #3 Starts -->
        <div class="blog-post-box">
          <!-- Media Starts -->
          <div class="blog-post-media">
            <img src="/images/blog/blog-thumb-img3.jpg" alt="Blog Image" class="img-responsive img-center br-5">
          </div>
          <!-- Media Ends -->
          <!-- Blog Title Starts -->
          <h4 class="blog-post-title"><a href="#">CreativePlus Blog Post List</a></h4>
          <!-- Blog Title Ends -->
          <!-- Posted By Starts -->
          <ul class="list-unstyled list-inline blog-post-meta">
            <li class="date">
              <i class="fa fa-calendar"></i> 30 OCT
            </li>
            <li>
              <i class="fa fa-edit"></i> Post By <a href="#">Administrator</a>
            </li>
            <li class="comments">
              <i class="fa fa-comments-o"></i>
              <a href="#">10</a>
            </li>
          </ul>
          <!-- Posted By Ends -->
          <!-- Blog Post Content Teaser Starts -->
          <p class="text-justify">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
            injected humour, or randomised words which don't look even slightly believable.
          </p>
          <p class="text-right-lg text-right-md text-right-sm"><a href="#" class="more-link animation">Read More</a></p>
          <!-- Blog Post Content Teaser Ends -->
        </div>
        <!-- Blog Post #3 Ends -->
        <!-- Blog Post #4 Starts -->
        <div class="blog-post-box">
          <!-- Media Starts -->
          <div class="blog-post-media">
            <img src="/images/blog/blog-thumb-img4.jpg" alt="Blog Image" class="img-responsive img-center br-5">
          </div>
          <!-- Media Ends -->
          <!-- Blog Title Starts -->
          <h4 class="blog-post-title"><a href="#">CreativePlus Blog Post List</a></h4>
          <!-- Blog Title Ends -->
          <!-- Posted By Starts -->
          <ul class="list-unstyled list-inline blog-post-meta">
            <li class="date">
              <i class="fa fa-calendar"></i> 19 OCT
            </li>
            <li>
              <i class="fa fa-edit"></i> Post By <a href="#">Administrator</a>
            </li>
            <li class="comments">
              <i class="fa fa-comments-o"></i>
              <a href="#">15</a>
            </li>
          </ul>
          <!-- Posted By Ends -->
          <!-- Blog Post Content Teaser Starts -->
          <p class="text-justify">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
            injected humour, or randomised words which don't look even slightly believable.
          </p>
          <p class="text-right-lg text-right-md text-right-sm"><a href="#" class="more-link animation">Read More</a></p>
          <!-- Blog Post Content Teaser Ends -->
        </div>
        <!-- Blog Post #4 Ends -->
        <!-- Blog Post #5 Starts -->
        <div class="blog-post-box">
          <!-- Media Starts -->
          <div class="blog-post-media">
            <img src="/images/blog/blog-thumb-img5.jpg" alt="Blog Image" class="img-responsive img-center br-5">
          </div>
          <!-- Media Ends -->
          <!-- Blog Title Starts -->
          <h4 class="blog-post-title"><a href="#">CreativePlus Blog Post List</a></h4>
          <!-- Blog Title Ends -->
          <!-- Posted By Starts -->
          <ul class="list-unstyled list-inline blog-post-meta">
            <li class="date">
              <i class="fa fa-calendar"></i> 14 OCT
            </li>
            <li>
              <i class="fa fa-edit"></i> Post By <a href="#">Administrator</a>
            </li>
            <li class="comments">
              <i class="fa fa-comments-o"></i>
              <a href="#">2</a>
            </li>
          </ul>
          <!-- Posted By Ends -->
          <!-- Blog Post Content Teaser Starts -->
          <p class="text-justify">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
            injected humour, or randomised words which don't look even slightly believable.
          </p>
          <p class="text-right-lg text-right-md text-right-sm"><a href="#" class="more-link animation">Read More</a></p>
          <!-- Blog Post Content Teaser Ends -->
        </div>
        <!-- Blog Post #5 Ends -->
        <!-- Blog Post #6 Starts -->
        <div class="blog-post-box">
          <!-- Media Starts -->
          <div class="blog-post-media">
            <img src="/images/blog/blog-thumb-img6.jpg" alt="Blog Image" class="img-responsive img-center br-5">
          </div>
          <!-- Media Ends -->
          <!-- Blog Title Starts -->
          <h4 class="blog-post-title"><a href="#">CreativePlus Blog Post List</a></h4>
          <!-- Blog Title Ends -->
          <!-- Posted By Starts -->
          <ul class="list-unstyled list-inline blog-post-meta">
            <li class="date">
              <i class="fa fa-calendar"></i> 30 SEPT
            </li>
            <li>
              <i class="fa fa-edit"></i> Post By <a href="#">Administrator</a>
            </li>
            <li class="comments">
              <i class="fa fa-comments-o"></i>
              <a href="#">18</a>
            </li>
          </ul>
          <!-- Posted By Ends -->
          <!-- Blog Post Content Teaser Starts -->
          <p class="text-justify">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
            injected humour, or randomised words which don't look even slightly believable.
          </p>
          <p class="text-right-lg text-right-md text-right-sm"><a href="#" class="more-link animation">Read More</a></p>
          <!-- Blog Post Content Teaser Ends -->
        </div>
        <!-- Blog Post #6 Ends -->
      </div>
      <!-- Blog Post Carousel Starts -->
    </div>
    <!-- Nested Container Ends -->
  </section>
  <!-- Blog Section Ends -->
  <!-- Work Section Starts -->
  <section id="work" class="section work-section parallax">
    <!-- Nested Container Starts -->
    <div class="container-fluid">
      <!-- Nested Row Starts -->
      <div class="row row-fluid">
        <!-- Left Col Starts -->
        <div class="col-sm-6 col-xs-12">
          <div class="work-section-box text-center-xs">
            <h3 class="text-light">Our Nature of Work</h3>
            <p>
              <em>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. </em>
            </p>
            <hr class="hr-1 inverse text-center-xs">
            <!-- Accordion Starts -->
            <div class="panel-group" id="accordion">
              <!-- Accordion #1 Starts -->
              <div class="panel">
                <!-- Panel Heading Starts -->
                <div class="panel-heading">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
												Amazingly Simple Problems
											</a>
                  </h5>
                </div>
                <!-- Panel Heading Ends -->
                <!-- Panel Body Starts -->
                <div id="collapse1" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                      text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                      type specimen book.
                    </p>
                  </div>
                </div>
                <!-- Panel Body Ends -->
              </div>
              <!-- Accordion #1 Ends -->
              <!-- Accordion #2 Starts -->
              <div class="panel">
                <!-- Panel Heading Starts -->
                <div class="panel-heading">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
												There are many variations of passages
											</a>
                  </h5>
                </div>
                <!-- Panel Heading Ends -->
                <!-- Panel Body Starts -->
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <p>
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                      and scrambled it to make a type specimen book.
                    </p>
                  </div>
                </div>
                <!-- Panel Body Ends -->
              </div>
              <!-- Accordion #2 Ends -->
              <!-- Accordion #3 Starts -->
              <div class="panel">
                <!-- Panel Heading Starts -->
                <div class="panel-heading">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
												Lorem Ipsum generators on the Internet Service
											</a>
                  </h5>
                </div>
                <!-- Panel Heading Ends -->
                <!-- Panel Body Starts -->
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type
                      and scrambled.
                    </p>
                  </div>
                </div>
                <!-- Panel Body Ends -->
              </div>
              <!-- Accordion #3 Ends -->
              <!-- Accordion #4 Starts -->
              <div class="panel">
                <!-- Panel Heading Starts -->
                <div class="panel-heading">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
												Many desktop publishing packages
											</a>
                  </h5>
                </div>
                <!-- Panel Heading Ends -->
                <!-- Panel Body Starts -->
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <p>
                      When an unknown printer took a galley of type and scrambled.
                    </p>
                  </div>
                </div>
                <!-- Panel Body Ends -->
              </div>
              <!-- Accordion #4 Ends -->
            </div>
            <!-- Accordion Ends -->
          </div>
        </div>
        <!-- Left Col Ends -->
        <!-- Right Col Starts -->
        <div class="col-sm-6 col-xs-12"></div>
        <!-- Right Col Ends -->
      </div>
      <!-- Nested Row Ends -->
    </div>
    <!-- Nested Container Ends -->
  </section>
  <!-- Work Section Ends -->
  <!-- Portfolio Section Starts -->
  <section id="portfolio" class="section portfolio-section">
    <!-- Nested Container Starts -->
    <div class="container text-center-xs">
      <!-- Heading Starts -->
      <h3 class="main-heading-1 text-normal text-center-xs">Our Portfolio</h3>
      <p class="text-grey-color text-light"><em>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the  when an unknown printer took a galley of type and scrambled it to make a type specimen book.</em></p>
      <!-- Heading Ends -->
      <!-- Spacer Starts -->
      <div class="spacer-tiny"></div>
      <!-- Spacer Ends -->
      <!-- Portfolio Gallery Starts -->
      <div class="row text-center">
        <!-- Item #1 Starts -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="portfolio-item">
            <a href="/images/portfolio/big/portfolio-big-img1.jpg" class="zoom">
              <img src="/images/portfolio/thumb/portfolio-thumb-img1.jpg" alt="Portfolio" class="img-responsive img-center animation br-5">
              <div class="overlay animation">
                <div class="inner">
                  <h5>Portfolio #1</h5>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the when an unknown printer.
                  </p>
                  <i class="fa fa-expand circle animation"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- Item #1 Ends -->
        <!-- Item #2 Starts -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="portfolio-item">
            <a href="/images/portfolio/big/portfolio-big-img2.jpg" class="zoom">
              <img src="/images/portfolio/thumb/portfolio-thumb-img2.jpg" alt="Portfolio" class="img-responsive img-center animation br-5">
              <div class="overlay animation">
                <div class="inner">
                  <h5>Portfolio #2</h5>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the when an unknown printer.
                  </p>
                  <i class="fa fa-expand circle animation"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- Item #2 Ends -->
        <!-- Item #3 Starts -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="portfolio-item">
            <a href="/images/portfolio/big/portfolio-big-img3.jpg" class="zoom">
              <img src="/images/portfolio/thumb/portfolio-thumb-img3.jpg" alt="Portfolio" class="img-responsive img-center animation br-5">
              <div class="overlay animation">
                <div class="inner">
                  <h5>Portfolio #3</h5>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the when an unknown printer.
                  </p>
                  <i class="fa fa-expand circle animation"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- Item #3 Ends -->
        <!-- Item #4 Starts -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="portfolio-item">
            <a href="/images/portfolio/big/portfolio-big-img4.jpg" class="zoom">
              <img src="/images/portfolio/thumb/portfolio-thumb-img4.jpg" alt="Portfolio" class="img-responsive img-center animation br-5">
              <div class="overlay animation">
                <div class="inner">
                  <h5>Portfolio #4</h5>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the when an unknown printer.
                  </p>
                  <i class="fa fa-expand circle animation"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- Item #4 Ends -->
        <!-- Item #5 Starts -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="portfolio-item">
            <a href="/images/portfolio/big/portfolio-big-img5.jpg" class="zoom">
              <img src="/images/portfolio/thumb/portfolio-thumb-img5.jpg" alt="Portfolio" class="img-responsive img-center animation br-5">
              <div class="overlay animation">
                <div class="inner">
                  <h5>Portfolio #5</h5>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the when an unknown printer.
                  </p>
                  <i class="fa fa-expand circle animation"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- Item #5 Ends -->
        <!-- Item #6 Starts -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="portfolio-item">
            <a href="/images/portfolio/big/portfolio-big-img6.jpg" class="zoom">
              <img src="/images/portfolio/thumb/portfolio-thumb-img6.jpg" alt="Portfolio" class="img-responsive img-center animation br-5">
              <div class="overlay animation">
                <div class="inner">
                  <h5>Portfolio #6</h5>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the when an unknown printer.
                  </p>
                  <i class="fa fa-expand circle animation"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- Item #6 Ends -->
        <!-- Item #7 Starts -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="portfolio-item">
            <a href="/images/portfolio/big/portfolio-big-img7.jpg" class="zoom">
              <img src="/images/portfolio/thumb/portfolio-thumb-img7.jpg" alt="Portfolio" class="img-responsive img-center animation br-5">
              <div class="overlay animation">
                <div class="inner">
                  <h5>Portfolio #7</h5>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the when an unknown printer.
                  </p>
                  <i class="fa fa-expand circle animation"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- Item #7 Ends -->
        <!-- Item #8 Starts -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="portfolio-item">
            <a href="/images/portfolio/big/portfolio-big-img8.jpg" class="zoom">
              <img src="/images/portfolio/thumb/portfolio-thumb-img8.jpg" alt="Portfolio" class="img-responsive img-center animation br-5">
              <div class="overlay animation">
                <div class="inner">
                  <h5>Portfolio #8</h5>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the when an unknown printer.
                  </p>
                  <i class="fa fa-expand circle animation"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- Item #8 Ends -->
        <!-- Item #9 Starts -->
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="portfolio-item">
            <a href="/images/portfolio/big/portfolio-big-img9.jpg" class="zoom">
              <img src="/images/portfolio/thumb/portfolio-thumb-img9.jpg" alt="Portfolio" class="img-responsive img-center animation br-5">
              <div class="overlay animation">
                <div class="inner">
                  <h5>Portfolio #9</h5>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    text ever since the when an unknown printer.
                  </p>
                  <i class="fa fa-expand circle animation"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- Item #9 Ends -->
      </div>
      <!-- Portfolio Gallery Ends -->
    </div>
    <!-- Nested Container Ends -->
  </section>
  <!-- Portfolio Section Ends -->
  <!-- Why Us Section Starts -->
  <section id="why-us" class="section why-us-section parallax">
    <!-- Nested Container Starts -->
    <div class="container text-center-xs">
      <!-- Nested Row Starts -->
      <div class="row">
        <!-- Contact Details Starts -->
        <div class="col-md-6 col-xs-12">
          <!-- Heading Starts -->
          <h3 class="text-light">Why Choose Us ?</h3>
          <p class="text-light text-grey-color"><em>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</em></p>
          <hr class="hr-1 text-center-xs">
          <!-- Heading Ends -->
          <!-- List Starts -->
          <ul class="list-unstyled why-us-list">
            <!-- List #1 Starts -->
            <li class="clearfix">
              <i class="fa fa-book pull-left-lg pull-left-md pull-left-sm"></i>
              <h5 class="text-normal">CreativePlus One Page Layouts</h5>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
                injected humour, or randomised words which don't look even slightly believable.
              </p>
            </li>
            <!-- List #1 Ends -->
            <!-- List #2 Starts -->
            <li class="clearfix">
              <i class="fa fa-trophy pull-left-lg pull-left-md pull-left-sm"></i>
              <h5 class="text-normal">It is a long established fact that a reader content</h5>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
                injected humour, or randomised words which don't look even slightly believable.
              </p>
            </li>
            <!-- List #2 Ends -->
            <!-- List #3 Starts -->
            <li class="clearfix">
              <i class="fa fa-puzzle-piece pull-left-lg pull-left-md pull-left-sm"></i>
              <h5 class="text-normal">Where does it come from</h5>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
                injected humour, or randomised words which don't look even slightly believable.
              </p>
            </li>
            <!-- List #3 Ends -->
          </ul>
          <!-- List Ends -->
        </div>
        <!-- Contact Details Ends -->
        <!-- Mockup Starts -->
        <div class="col-md-6 col-xs-12">
          <img src="/images/mockup-img1.png" alt="Mockup" class="img-responsive img-center">
        </div>
        <!-- Mockup Ends -->
      </div>
      <!-- Nested Row Ends -->
    </div>
    <!-- Nested Container Ends -->
  </section>
  <!-- Why Us Section Ends -->
  <!-- Team Section Starts -->
  <section id="team" class="section team-section">
    <!-- Nested Container Starts -->
    <div class="container text-center-xs">
      <!-- Heading Starts -->
      <h3 class="main-heading-1 text-normal text-center-xs">Our Awesome Team</h3>
      <p class="text-light text-grey-color"><em>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the  when an unknown printer took a galley of type and scrambled it to make a type specimen book.</em></p>
      <!-- Heading Ends -->
      <!-- Team Carousel Starts -->
      <div id="team-carousel" class="owl-carousel text-center">
        <!-- Team Bio #1 Starts -->
        <div class="bio-box">
          <img src="/images/team/team-thumb-img1.jpg" alt="Team Image" class="img-responsive img-center thumbnail">
          <h4 class="text-normal">John Deozan</h4>
          <p class="text-grey-color">Founder &amp; CEO</p>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
            injected humour, or randomised.
          </p>
          <hr class="hr-1 small text-center">
          <ul class="list-unstyled list-inline bio-sm-links animation">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
        <!-- Team Bio #1 Ends -->
        <!-- Team Bio #2 Starts -->
        <div class="bio-box">
          <img src="/images/team/team-thumb-img2.jpg" alt="Team Image" class="img-responsive img-center thumbnail">
          <h4 class="text-normal">John Deozan</h4>
          <p class="text-grey-color">Founder &amp; CEO</p>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
            injected humour, or randomised.
          </p>
          <hr class="hr-1 small text-center">
          <ul class="list-unstyled list-inline bio-sm-links animation">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
        <!-- Team Bio #2 Ends -->
        <!-- Team Bio #3 Starts -->
        <div class="bio-box">
          <img src="/images/team/team-thumb-img3.jpg" alt="Team Image" class="img-responsive img-center thumbnail">
          <h4 class="text-normal">John Deozan</h4>
          <p class="text-grey-color">Founder &amp; CEO</p>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
            injected humour, or randomised.
          </p>
          <hr class="hr-1 small text-center">
          <ul class="list-unstyled list-inline bio-sm-links animation">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
        <!-- Team Bio #3 Ends -->
        <!-- Team Bio #4 Starts -->
        <div class="bio-box">
          <img src="/images/team/team-thumb-img4.jpg" alt="Team Image" class="img-responsive img-center thumbnail">
          <h4 class="text-normal">John Deozan</h4>
          <p class="text-grey-color">Founder &amp; CEO</p>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
            injected humour, or randomised.
          </p>
          <hr class="hr-1 small text-center">
          <ul class="list-unstyled list-inline bio-sm-links animation">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
        <!-- Team Bio #4 Ends -->
        <!-- Team Bio #5 Starts -->
        <div class="bio-box">
          <img src="/images/team/team-thumb-img1.jpg" alt="Team Image" class="img-responsive img-center thumbnail">
          <h4 class="text-normal">John Deozan</h4>
          <p class="text-grey-color">Founder &amp; CEO</p>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
            injected humour, or randomised.
          </p>
          <hr class="hr-1 small text-center">
          <ul class="list-unstyled list-inline bio-sm-links animation">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
        <!-- Team Bio #5 Ends -->
        <!-- Team Bio #6 Starts -->
        <div class="bio-box">
          <img src="/images/team/team-thumb-img2.jpg" alt="Team Image" class="img-responsive img-center thumbnail">
          <h4 class="text-normal">John Deozan</h4>
          <p class="text-grey-color">Founder &amp; CEO</p>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
            injected humour, or randomised.
          </p>
          <hr class="hr-1 small text-center">
          <ul class="list-unstyled list-inline bio-sm-links animation">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
        <!-- Team Bio #6 Ends -->
        <!-- Team Bio #7 Starts -->
        <div class="bio-box">
          <img src="/images/team/team-thumb-img3.jpg" alt="Team Image" class="img-responsive img-center thumbnail">
          <h4 class="text-normal">John Deozan</h4>
          <p class="text-grey-color">Founder &amp; CEO</p>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
            injected humour, or randomised.
          </p>
          <hr class="hr-1 small text-center">
          <ul class="list-unstyled list-inline bio-sm-links animation">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
        <!-- Team Bio #7 Ends -->
        <!-- Team Bio #8 Starts -->
        <div class="bio-box">
          <img src="/images/team/team-thumb-img4.jpg" alt="Team Image" class="img-responsive img-center thumbnail">
          <h4 class="text-normal">John Deozan</h4>
          <p class="text-grey-color">Founder &amp; CEO</p>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by
            injected humour, or randomised.
          </p>
          <hr class="hr-1 small text-center">
          <ul class="list-unstyled list-inline bio-sm-links animation">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
        <!-- Team Bio #8 Ends -->
      </div>
      <!-- Team Carousel Ends -->
    </div>
    <!-- Nested Container Ends -->
  </section>
  <!-- Team Section Ends -->
  <!-- Testimonials Section Starts -->
  <section id="testimonials" class="section testimonials-section parallax">
    <!-- Nested Container Starts -->
    <div class="container text-center">
      <!-- Heading Starts -->
      <h3 class="main-heading-1 inverse text-center text-normal">Our Testimonials</h3>
      <!-- Heading Ends -->
      <!-- Testimonial Carousel Starts -->
      <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
        <!-- Indicators Starts -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-testimonials" data-slide-to="1"></li>
          <li data-target="#carousel-testimonials" data-slide-to="2"></li>
        </ol>
        <!-- Indicators Ends -->
        <!-- Wrapper For Slides Starts -->
        <div class="carousel-inner text-center">
          <!-- Quote #1 Starts -->
          <div class="item active">
            <!-- Nested Row Starts -->
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1">
                <h5 class="text-medium"><img src="/images/thumb-img2.jpg" alt="Image" class="img-center circle"> Vishwanath Kumar <span class="text-light">CEO and Founder of Company</span></h5>
                <p>
                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                </p>
                <p>
                  The point of using Lorem Ipsum is that it has a normal distribution of letters, as opposed to using.
                </p>
              </div>
            </div>
            <!-- Nested Row Ends -->
          </div>
          <!-- Quote #1 Ends -->
          <!-- Quote #2 Starts -->
          <div class="item">
            <!-- Nested Row Starts -->
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1">
                <h5 class="text-medium"><img src="/images/thumb-img2.jpg" alt="Image" class="img-center circle"> Vishnu Sharma <span class="text-light">Manager</span></h5>
                <p>
                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                </p>
                <p>
                  The point of using Lorem Ipsum is that it has a normal distribution of letters, as opposed to using.
                </p>
              </div>
            </div>
            <!-- Nested Row Ends -->
          </div>
          <!-- Quote #2 Ends -->
          <!-- Quote #3 Starts -->
          <div class="item">
            <!-- Nested Row Starts -->
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1">
                <h5 class="text-medium"><img src="/images/thumb-img2.jpg" alt="Image" class="img-center circle"> Samuel <span class="text-light">Managing Director</span></h5>
                <p>
                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                </p>
                <p>
                  The point of using Lorem Ipsum is that it has a normal distribution of letters, as opposed to using.
                </p>
              </div>
            </div>
            <!-- Nested Row Ends -->
          </div>
          <!-- Quote #3 Ends -->
        </div>
        <!-- Wrapper For Slides Ends -->
        <!-- Controls Starts -->
        <a class="left carousel-control" href="#carousel-testimonials" role="button" data-slide="prev">
          <span class="fa fa-chevron-circle-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-testimonials" role="button" data-slide="next">
          <span class="fa fa-chevron-circle-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!-- Controls Ends -->
      </div>
      <!-- Testimonial Carousel Ends -->
    </div>
    <!-- Nested Container Ends -->
  </section>
  <!-- Testimonials Section Ends -->
  <!-- Contact Section Starts -->
  <section id="contact" class="section contact-section">
    <!-- Nested Container Starts -->
    <div class="container text-center-xs">
      <!-- Heading Starts -->
      <h3 class="text-light">Contact Us</h3>
      <p class="text-light text-grey-color"><em>Many desktop publishing packages and web page editors now use Lorem Ipsum as their<br> default model text, and a search for  web sites still in their infancy.</em></p>
      <hr class="hr-1 text-center-xs">
      <!-- Heading Ends -->
      <!-- Nested Row Starts -->
      <div class="row">
        <!-- Contact Details Starts -->
        <div class="col-md-6 col-xs-12">
          <!-- Email & Support Starts -->
          <ul class="list-unstyled contact-list row">
            <li class="col-xs-6">
              <i class="fa fa-envelope pull-left circle"></i>
              <h5 class="text-uppercase">E-Mail</h5>
              <a href="mailto:support@domain.com">support@domain.com</a>
            </li>
            <li class="col-xs-6">
              <i class="fa fa-phone pull-left circle"></i>
              <h5 class="text-uppercase">Phone</h5>
              +001 234 567 8952
            </li>
          </ul>
          <!-- Email & Support Ends -->
          <!-- Contact Form Starts -->
          <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
            <!-- Nested Row Starts -->
            <div class="row">
              <!-- First Name Field Starts -->
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <label for="fname" class="sr-only">First Name: </label>
                  <input type="text" class="form-control animation-1" name="fname" id="fname" required="required" placeholder="First Name *">
                </div>
              </div>
              <!-- First Name Field Ends -->
              <!-- Last Name Field Starts -->
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <label for="lname" class="sr-only">Last Name: </label>
                  <input type="text" class="form-control animation-1" name="lname" id="lname" required="required" placeholder="Last Name *">
                </div>
              </div>
              <!-- Last Name Field Ends -->
              <!-- Email Field Starts -->
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <label for="email" class="sr-only">Email: </label>
                  <input type="email" class="form-control animation-1" name="email" id="email" required="required" placeholder="Email *">
                </div>
              </div>
              <!-- Email Field Ends -->
              <!-- Last Name Field Starts -->
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <label for="subject" class="sr-only">Subject: </label>
                  <input type="text" class="form-control animation-1" name="subject" id="subject" placeholder="Subject">
                </div>
              </div>
              <!-- Last Name Field Ends -->
              <!-- Message Field Starts -->
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="message" class="sr-only">Message: </label>
                  <textarea class="form-control animation-1" rows="6" name="message" id="message" required="required" placeholder="Message"></textarea>
                </div>
              </div>
              <!-- Message Field Ends -->
              <div class="col-xs-12">
                <input type="submit" class="btn btn-secondary animation text-uppercase" value="Send Message">
              </div>
            </div>
            <!-- Nested Row Ends -->
          </form>
          <!-- Contact Form Ends -->
        </div>
        <!-- Contact Details Ends -->
        <!-- Mockup Starts -->
        <div class="col-md-6 col-xs-12">
          <img src="/images/mockup-img2.png" alt="Mockup" class="img-responsive img-center">
        </div>
        <!-- Mockup Ends -->
      </div>
      <!-- Nested Row Ends -->
    </div>
    <!-- Nested Container Ends -->
  </section>
  <!-- Contact Section Ends -->
  <!-- Map Starts -->
  <div class="map"></div>
  <!-- Map Ends -->
  <!-- Footer Starts -->
  <footer class="main-footer">
    <!-- Nested Container Starts -->
    <div class="container text-center-xs">
      <!-- Nested Row Starts -->
      <div class="row">
        <!-- Footer Links Starts -->
        <div class="col-sm-4 col-xs-12">
          <ul class="list-unstyled list-inline">
            <li><a href="#">Home</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <!-- Footer Links Ends -->
        <!-- Copyright Starts -->
        <div class="col-sm-4 col-xs-12">
          <p class="text-center">
            &copy; CreativePlus All Rights Reserved
          </p>
        </div>
        <!-- Copyright Ends -->
        <!-- Social Media Links Starts -->
        <div class="col-sm-4 col-xs-12">
          <ul class="list-unstyled list-inline sm-links pull-right-lg pull-right-md pull-right-sm">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
        </div>
        <!-- Social Media Links Ends -->
      </div>
      <!-- Nested Row Ends -->
    </div>
    <!-- Nested Container Ends -->
  </footer>
  <!-- Footer Ends -->
  <!-- Template JS Files -->
  <script src="/js/jquery-1.12.4.min.js"></script>
  <script src="/js/jquery-migrate-1.4.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/plugins/jquery.nav.js"></script>
  <script src="/js/plugins/owl-carousel/owl.carousel.js"></script>
  <script src="/js/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false"></script>
  <script src="/js/custom.js"></script>
</body>

</html>