<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ChaoXun International</title>

  <!-- Bootstrap -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Google Web Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

  <!-- Template CSS Files  -->
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/js/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
  <link href="/js/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
  <link href="/js/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/responsive.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/fav-144.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/fav-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/fav-72.png">
  <link rel="apple-touch-icon-precomposed" href="/images/fav-57.png">
  <link rel="shortcut icon" href="/images/fav.png">

</head>

<body>
  <!-- Top Bar Starts -->
  <div id="top-bar" class="top-bar">
    <!-- Nested Container Starts -->
    <div class="container text-center-xs">
      <!-- Nested Row Starts -->
      <div class="row">
        <!-- Left Starts -->
        <div class="col-sm-6 col-xs-12 text-grey-color">
          <strong class="text-spl-color">ChaoXun</strong> International
        </div>
        <!-- Left Ends -->
        <!-- Right Starts -->
        <div class="col-sm-6 col-xs-12">
        </div>
        <!-- Right Ends -->
      </div>
      <!-- Nested Row Ends -->
    </div>
    <!-- Nested Container Ends -->
  </div>
  <!-- Top Bar Ends	-->
  <!-- Header Wrap Starts -->
  <header id="main-header-wrap" class="main-header-wrap">
    <!-- Header Starts -->
    <div class="container main-header">
      <!-- Nested Row Starts -->
      <div class="row">
        <!-- Logo Starts -->
        <div class="col-md-3 col-xs-12">
          <img src="/images/logo.png" alt="Creative Plus" class="logo img-responsive img-center-sm img-center-xs">
        </div>
        <!-- Logo Ends -->
        <!-- Address Starts -->
        <div class="col-md-4 col-xs-12 hidden-sm hidden-xs col-md-offset-1">
          <i class="fa fa-home pull-left text-spl-color"></i>
          <h6 class="text-medium text-spl-color">Shanghai, China</h6>
          <span class="text-light text-grey-color">151 Ke Yuan Lu, Pudong, 201203</span>
        </div>
        <!-- Address Ends -->
        <!-- Toll Free Starts -->
        <div class="col-md-4 col-xs-12 hidden-sm hidden-xs">
          <i class="fa fa-phone pull-left text-spl-color"></i>
          <h6 class="text-medium text-spl-color"> +86 183 2175 9967</h6>
          <a href="mailto:service@chaoxun-international.com" style="white-space: nowrap !important; white-space: pre !important; overflow: hidden; text-overflow: ellipsis;" class="text-light">service@chaoxun-international.com</a>
        </div>
        <!-- Toll Free Ends -->
      </div>
      <!-- Nested Row Ends -->
    </div>
    <!-- Header Ends -->
    <!-- Menu Wrap Starts -->
    <div id="main-menu-wrap">
      <!-- Menu Starts -->
      <div id="main-menu">
        <!-- Nested Container Starts -->
        <div class="container">
          <!-- Navbar Starts -->
          <nav id="nav" class="navbar navbar-default">
            <!-- Nested Container Fluid Starts -->
            <div class="container-fluid">
              <!-- Navbar Header Starts -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
              </div>
              <!-- Navbar Header Ends -->
              <!-- Navbar Collapse Starts -->
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="current"><a href="#top-bar">Home</a></li>
                  <li><a href="#about">About Us</a></li>
                  <li><a href="#services">Our Services</a></li>
                  <li><a href="#work">Our Work</a></li>
                  <li><a href="#why-us">Why Us</a></li>
                  <li><a href="#contact">Contact Us</a></li>
                </ul>
              </div>
              <!-- Navbar Collapse Ends -->
            </div>
            <!-- Nested Container Fluid Ends -->
          </nav>
          <!-- Navbar Ends -->
        </div>
        <!-- Nested Container Ends -->
      </div>
      <!-- Menu Ends -->
    </div>
    <!-- Menu Wrap Ends -->
    <!-- Slider Starts -->
    <div id="main-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <!-- Wrapper For Slides Starts -->
      <div class="carousel-inner">
        <!-- Slide #1 Starts -->
        <div class="item active">
          <img src="/images/education.jpg" alt="Slide 1" class="img-responsive">
          <div class="carousel-caption hidden-sm hidden-xs" style="color: black" >
            <h1 class="text-light">Education Consulting</h1>
            <p class="text-light">We have personal language classes, university matriculation, university experience in Germany! Tell you the real information!</p>
            <p class="text-light">Our team perennial in the major platform to answer the application, have encountered various types of study abroad, your problem for us is not a problem!</p>
          </div>
        </div>
        <!-- Slide #1 Ends -->
        <!-- Slide #2 Starts -->
        <div class="item">
          <img src="/images/insurance.jpg" alt="Slide 2" class="img-responsive">
          <div class="carousel-caption hidden-sm hidden-xs" style="color: #0356a4">
            <h1 class="text-light">Insurance agent <br></h1>
            <p class="text-light">We offer you the best foreign health insurance and travel insurance for private travel, business travel and study.</p>
            <p class="text-light">Our international health insurance protect foreigners in Germany and the EU. Whether you are planning a private holiday, a business trip or an educational trip. </p>
          </div>
        </div>
        <!-- Slide #2 Ends -->
        <!-- Slide #3 Starts -->
        <div class="item">
          <img src="/images/student.jpg" alt="Slide 2" class="img-responsive">
          <div class="carousel-caption hidden-sm hidden-xs">
            <h1 class="text-light">Overseas student service<br></h1>
            <p class="text-light">We have experienced overseas team, to provide you with fast and comprehensive overseas services.</p>
            <p class="text-light">Apply for a visa, pick up, rental housing.</p>
          </div>
        </div>
        <!-- Slide #3 Ends -->
      </div>
      <!-- Wrapper For Slides Ends -->
      <!-- Control Starts -->
      <a class="left carousel-control animation" href="#main-slider" role="button" data-slide="prev">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control animation" href="#main-slider" role="button" data-slide="next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!-- Control Ends -->
    </div>
    <!-- Slider Ends -->
  </header>
  <!-- Header Wrap Ends -->
  <!-- About Section Starts -->
  <section id="about" class="section about-section">
    <!-- Nested Container Starts -->
    <div class="container text-center-xs">
      <!-- Heading Starts -->
      <h3 class="text-normal">About Our Global Consultancy Service</h3>
      <p class="text-grey-color text-light"><em>
</em></p>
      <hr class="hr-1 text-center-xs">
      <!-- Heading Ends -->
      <!-- Spacer Starts -->
      <div class="spacer-small"></div>
      <!-- Spacer Ends -->
      <!-- Nested Row Starts -->
      <div class="row">
        <!-- Image Starts -->
        <div class="col-sm-6 col-xs-12">
          <img src="/images/Consulting-Service.jpg" alt="Image" class="img-responsive img-center br-5">
        </div>
        <!-- Image Ends -->
        <!-- Spacer For Small Screens Starts -->
        <div class="col-xs-12 hidden visible-xs">
          <div class="spacer-small"></div>
        </div>
        <!-- Spacer For Small Screens Ends -->
        <!-- Content Starts -->
        <div class="col-sm-6 col-xs-12">
          <p class="text-bold">
            We believe that small details can make a big difference and ultimately decide the fate of company. Therefore, we regard the benefit of our clients as the most important and strive to maintain a highest standard service. With over 20 years’ rich experience in German and Chinese markets, ChaoXun is assumed to be an efficient assistant for overseas students in Germany.
          </p>
          <p>
            Today, ChaoXun is a professional service provider for private and business clients from Germany and China. Our services are various that include education consulting, visa and insurance service as well as academic training. And we continued to extended range of service to serve clients better. 
          </p>
        </div>
        <!-- Content Ends -->
      </div>
      <!-- Nested Row Ends -->
    </div>
    <!-- Nested Container Ends -->
  </section>
  <!-- About Section Ends -->
  <!-- Services Section Starts -->
  <section id="services" class="section services-section">
    <!-- Nested Container Starts -->
    <div class="container text-center">
      <!-- Heading Starts -->
      <h3 class="main-heading-1 text-normal text-center">Our Unlimited Services</h3>
      <!-- Heading Ends -->
      <!-- Services List Starts -->
      <ul class="list-unstyled row services-list">
        <!-- List #1 Starts -->
        <li class="col-md-4 col-sm-6 col-xs-12">
          <i class="fa fa-medkit text-spl-color"></i>
          <h5 class="main-heading-1 text-center text-bold">Insurance Agent</h5>
          <p>We offer you the best foreign health insurance and travel insurance for private travel, business travel and study.<br/>Our international health insurance protect foreigners in Germany and the EU. Whether you are planning a private holiday, a business trip or an educational trip. </p>
        </li>
        <!-- List #1 Ends -->
        <!-- List #2 Starts -->
        <li class="col-md-4 col-sm-6 col-xs-12">
          <i class="fa fa-industry text-spl-color"></i>
          <h5 class="main-heading-1 text-center text-bold">Overseas Training</h5>
          <p>This training module includes detailed introduction of “Industry 4.0”, collaborations between “China Manufacture 2025” and “Industry 4.0” as well as related effects. The courses are further involving big data, smart manufacturing, smart quality and protection of intellectual property and   digital factory etc. All trainings are given by professors from German and Chinese universities, and experts of the “Industry 4.0”</p>
        </li>
        <!-- List #2 Ends -->
        <!-- List #3 Starts -->
        <li class="col-md-4 col-sm-6 col-xs-12">
          <i class="fa fa-graduation-cap text-spl-color"></i>
          <h5 class="main-heading-1 text-center text-bold">Overseas Student Service</h5>
          <p>We have experienced overseas team, to provide you the fast and comprehensive overseas services, including visa applying, pick up service, house renting and others.</p>
        </li>
        <!-- List #3 Ends -->
      </ul>
      <!-- Services List Ends -->
    </div>
    <!-- Nested Container Ends -->
  </section>
  <!-- Services Section Ends -->  
  <!-- Work Section Starts -->
  <section id="work" class="section work-section parallax">
    <!-- Nested Container Starts -->
    <div class="container-fluid">
      <!-- Nested Row Starts -->
      <div class="row row-fluid">
        <!-- Left Col Starts -->
        <div class="col-sm-6 col-xs-12">
          <div class="work-section-box text-center-xs">
            <h3 class="text-light">Type of Our Work</h3>
            <hr class="hr-1 inverse text-center-xs">
            <!-- Accordion Starts -->
            <div class="panel-group" id="accordion">
              <!-- Accordion #1 Starts -->
              <div class="panel">
                <!-- Panel Heading Starts -->
                <div class="panel-heading">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
												Travel and Health insurance
										</a>
                  </h5>
                </div>
                <!-- Panel Heading Ends -->
                <!-- Panel Body Starts -->
                <div id="collapse1" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <p>
                      We offer you the best foreign health insurance and travel insurance for private travel, business travel and study.
                    </p>
                    <p>
                      Our international health insurance is suitable for foreigners in Germany and the EU. You can get well protected whether you are in private holiday, a business trip or an educational trip.
                    </p>
                    <p>
                      Tax and insurance are most important two things in German life. To make it easier for our clients to decide and apply for insurance that meet their requirements. Our team corporate closely with several major German insurance companies, including the private insurance and public health insurance.
                    </p>
                  </div>
                </div>
                <!-- Panel Body Ends -->
              </div>
              <!-- Accordion #1 Ends -->
              <!-- Accordion #2 Starts -->
              <div class="panel">
                <!-- Panel Heading Starts -->
                <div class="panel-heading">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
												Industry 4.0 Training Program
										</a>
                  </h5>
                </div>
                <!-- Panel Heading Ends -->
                <!-- Panel Body Starts -->
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>
                      This training module includes detailed introduction of “Industry 4.0”, collaborations between “China Manufacture 2025” and “Industry 4.0” as well as related effects. The courses are further involving big data, smart manufacturing, smart quality and protection of intellectual property and   digital factory etc. All trainings are given by professors from German and Chinese universities, and experts of the “Industry 4.0”.
                    </p>
                  </div>
                </div>
                <!-- Panel Body Ends -->
              </div>
              <!-- Accordion #2 Ends -->
              <!-- Accordion #3 Starts -->
              <div class="panel">
                <!-- Panel Heading Starts -->
                <div class="panel-heading">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
											Visa and extension
										</a>
                  </h5>
                </div>
                <!-- Panel Heading Ends -->
                <!-- Panel Body Starts -->
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>
                      We have experienced team assistant you to apply for types of German visa. Both the language and study visa are required to renew within 3 months after your arrival in Germany. It is necessary for applicants to apply visa renewal through local foreigner's office according to the purpose of residence. Materials are normally required as: application form, passport, passport photo, proof of residence registration, proof of insurance, bank deposit certificate, school registration certificate and so on.
                    </p>
                    <p>
                      During this procedure, our team will help you to prepare relevant materials and dispatch our staffs as your contacts in Germany to accompany you to complete.
                    </p>
                    <p>
                      Once you have prepared the relevant materials, for the first time, your contact in Germany will accompany you to complete this procedure. If you later extended, I believe you can already handle their own.
                    </p>
                  </div>
                </div>
                <!-- Panel Body Ends -->
              </div>
              <!-- Accordion #3 Ends -->
              <!-- Accordion #4 Starts -->
              <div class="panel">
                <!-- Panel Heading Starts -->
                <div class="panel-heading">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
											Pick up service
										</a>
                  </h5>
                </div>
                <!-- Panel Heading Ends -->
                <!-- Panel Body Starts -->
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>
                      Our partners in Germany will provide pick-up service based on your itinerary and requires. You can send the flight information to us at least a week earlier. We’ll plan for your trip and pick you up in time. We can also provide you with a variety of levels of vehicles and fully customized services as much as you need We are responsible for your safe delivery to the destination in Germany.
                    </p>
                  </div>
                </div>
                <!-- Panel Body Ends -->
              </div>
              <!-- Accordion #4 Ends -->
              <!-- Accordion #5 Starts -->
              <div class="panel">
                <!-- Panel Heading Starts -->
                <div class="panel-heading">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
											House Renting Service
										</a>
                  </h5>
                </div>
                <!-- Panel Heading Ends -->
                <!-- Panel Body Starts -->
                <div id="collapse5" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>
                      We provide you first-hand rental information in Germany, according to your needs Our staffs will collect the latest housing information and then deliver to you directly by mail. You can filter out the housing information we have provided, choose the houses that best meet your needs and ask us to contact landlord directly and handle all the rental procedures for you.
                    </p>
                  </div>
                </div>
                <!-- Panel Body Ends -->
              </div>
              <!-- Accordion #5 Ends -->
              <!-- Accordion #6 Starts -->
              <div class="panel">
                <!-- Panel Heading Starts -->
                <div class="panel-heading">
                  <h5 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
											Study Questions and Answers
										</a>
                  </h5>
                </div>
                <!-- Panel Heading Ends -->
                <!-- Panel Body Starts -->
                <div id="collapse6" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>
                      Suitable for: For the question of the need to seek a standard answer
                    </p>
                    <p>
                      Q & A content: Any questions about the German, but does not include: specific school application information and requirements (such as I can apply for specific XX University), APS detailed counseling, and similar to how many universities in Germany have XX professional.
                    </p>
                    <p>
                      Answer: mail, we will give you a perfect answer within 1-2 days. Before we reply to the e-mail, if there are any problems, you can send us an email. After we have made a reply, we can not add a new question! But if you do not understand the explanation for the place, then you can always ask! But can not raise new questions!
                    </p>
                    <p>
                      University application is a fine work, you need to study your transcripts, to see the degree of matching courses and consider your language level and other hard conditions, so the specific school information and a school application requirements, application materials, in Q & A will not be answered , Such as the need for this information, you can apply for a service!
                    </p>
                  </div>
                </div>
                <!-- Panel Body Ends -->
              </div>
              <!-- Accordion #5 Ends -->
            </div>
            <!-- Accordion Ends -->
          </div>
        </div>
        <!-- Left Col Ends -->
        <!-- Right Col Starts -->
        <div class="col-sm-6 col-xs-12"></div>
        <!-- Right Col Ends -->
      </div>
      <!-- Nested Row Ends -->
    </div>
    <!-- Nested Container Ends -->
  </section>
  <!-- Work Section Ends -->
  <!-- Why Us Section Starts -->
  <section id="why-us" class="section why-us-section parallax">
    <!-- Nested Container Starts -->
    <div class="container text-center-xs">
      <!-- Nested Row Starts -->
      <div class="row">
        <!-- Contact Details Starts -->
        <div class="col-md-6 col-xs-12">
          <!-- Heading Starts -->
          <h3 class="text-light">Why Choose Us ?</h3>
          <hr class="hr-1 text-center-xs">
          <!-- Heading Ends -->
          <!-- List Starts -->
          <ul class="list-unstyled why-us-list">
            <!-- List #1 Starts -->
            <li class="clearfix">
              <i class="fa fa-trophy pull-left-lg pull-left-md pull-left-sm"></i>
              <h5 class="text-normal">Young and Efficient</h5>
              <p>
                Our team is young and passionate, experienced and practical, we are a trustworthy partner for you.
              </p>
            </li>
            <!-- List #1 Ends -->
            <!-- List #2 Starts -->
            <li class="clearfix">
              <i class="fa fa-book pull-left-lg pull-left-md pull-left-sm"></i>
              <h5 class="text-normal">Highly Educated</h5>
              <p>
                 Our team members are graduated from famous universities in China and abroad. With personal experience in Germany, they are familiar with the German education, legal and insurance system and can provide you with high quality study consulting services.
              </p>
            </li>
            <!-- List #2 Ends -->
            <!-- List #3 Starts -->
            <li class="clearfix">
              <i class="fa fa-globe pull-left-lg pull-left-md pull-left-sm"></i>
              <h5 class="text-normal">Reliable Partners</h5>
              <p>
                We have reliable partners in China and Germany, wherever you are, our staff will provide you with the services you need.
              </p>
            </li>
            <!-- List #3 Ends -->
          </ul>
          <!-- List Ends -->
        </div>
        <!-- Contact Details Ends -->
        <!-- Mockup Starts -->
        <div class="col-md-6 col-xs-12">
          <img src="/images/whyus.png" style="margin-top: 150px;" alt="Mockup" class="img-responsive img-center">
        </div>
        <!-- Mockup Ends -->
      </div>
      <!-- Nested Row Ends -->
    </div>
    <!-- Nested Container Ends -->
  </section>
  <!-- Why Us Section Ends -->
  <!-- Contact Section Starts -->
  <section id="contact" class="section contact-section">
    <!-- Nested Container Starts -->
    <div class="container text-center-xs">
      <!-- Heading Starts -->
      <h3 class="text-light">Contact Us</h3>
      <hr class="hr-1 text-center-xs">
      <!-- Heading Ends -->
      <!-- Nested Row Starts -->
      <div class="row">
        <!-- Contact Details Starts -->
        <div class="col-md-12 col-xs-12">
          <!-- Email & Support Starts -->
          <ul class="list-unstyled contact-list row">
            <li class="col-xs-6">
              <i class="fa fa-envelope pull-left circle"></i>
              <h5 class="text-uppercase">E-Mail</h5>
              <a href="mailto:support@domain.com">service@chaoxun-international.com</a>
            </li>
            <li class="col-xs-6">
              <i class="fa fa-phone pull-left circle"></i>
              <h5 class="text-uppercase">Phone</h5>
               +86 183 2175 9967
            </li>
          </ul>
          <!-- Email & Support Ends -->
          <!-- Contact Form Starts -->
          <form id="main-contact-form" class="contact-form" name="contact-form" method="post" role="form">
            <!-- Nested Row Starts -->
            <div class="row">
              <!-- First Name Field Starts -->
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <label for="fname" class="sr-only">First Name: </label>
                  <input type="text" class="form-control animation-1" name="fname" id="fname" required="required" placeholder="First Name *">
                </div>
              </div>
              <!-- First Name Field Ends -->
              <!-- Last Name Field Starts -->
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <label for="lname" class="sr-only">Last Name: </label>
                  <input type="text" class="form-control animation-1" name="lname" id="lname" required="required" placeholder="Last Name *">
                </div>
              </div>
              <!-- Last Name Field Ends -->
              <!-- Email Field Starts -->
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <label for="email" class="sr-only">Email: </label>
                  <input type="email" class="form-control animation-1" name="email" id="email" required="required" placeholder="Email *">
                </div>
              </div>
              <!-- Email Field Ends -->
              <!-- Last Name Field Starts -->
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <label for="subject" class="sr-only">Subject: </label>
                  <input type="text" class="form-control animation-1" name="subject" id="subject" placeholder="Subject">
                </div>
              </div>
              <!-- Last Name Field Ends -->
              <!-- Message Field Starts -->
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="message" class="sr-only">Message: </label>
                  <textarea class="form-control animation-1" rows="6" name="message" id="message" required="required" placeholder="Message"></textarea>
                </div>
              </div>
              <!-- Message Field Ends -->
              <div class="col-xs-12">
                <input type="submit" class="btn btn-secondary animation text-uppercase" value="Send us Message">
              </div>
            </div>
            <!-- Nested Row Ends -->
          </form>
          <!-- Contact Form Ends -->
        </div>
        <!-- Contact Details Ends -->
      </div>
      <!-- Nested Row Ends -->
    </div>
    <!-- Nested Container Ends -->
  </section>
  <!-- Contact Section Ends -->
  <!-- Map Starts -->
  <div class="map"></div>
  <!-- Map Ends -->
  <!-- Footer Starts -->
  <footer class="main-footer">
    <!-- Nested Container Starts -->
    <div class="container text-center-xs">
      <!-- Nested Row Starts -->
      <div class="row">
        <!-- Footer Links Starts -->
        <div class="col-sm-4 col-xs-12">
        </div>
        <!-- Footer Links Ends -->
        <!-- Copyright Starts -->
        <div class="col-sm-4 col-xs-12">
          <p class="text-center">
            &copy; ChaoXun International All Rights Reserved
          </p>
        </div>
        <!-- Copyright Ends -->
        <!-- Social Media Links Starts -->
        <div class="col-sm-4 col-xs-12">
          
        </div>
        <!-- Social Media Links Ends -->
      </div>
      <!-- Nested Row Ends -->
    </div>
    <!-- Nested Container Ends -->
  </footer>
  <!-- Footer Ends -->
  <!-- Template JS Files -->
  <script src="/js/jquery-1.12.4.min.js"></script>
  <script src="/js/jquery-migrate-1.4.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/plugins/jquery.nav.js"></script>
  <script src="/js/plugins/owl-carousel/owl.carousel.js"></script>
  <script src="/js/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&key=AIzaSyC-rV_-J-iGlJi3f8_Zd6J4mCgDwTbTwoA"></script>
  <script src="/js/custom.js"></script>
</body>

</html>